<h1>Start a new conversation</h1>


<%= form_for(@conversation) do |f| %>
  
  <div class="field">
  	<%= select_tag("user[language]", options_for_select(["English", "Spanish", "Italiano"]), {include_blank: '--Select a Language--'}) %>
  </div>
  <div class="field">
	<%= select_tag("user[origin_country][]", options_for_select(["Mexico", "USA", "Italy"]), {include_blank: '--Select a Country--'}) %>
  </div>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :male %><br>
    <%= f.radio_button :male %>
    <%= f.label :female %><br>
    <%= f.radio_button :female %>
    <%= f.label :other_gender %><br>
    <%= f.radio_button :other_gender %>
  </div>

  

  <div class="actions">
    <button type="submit" class="button">Find friends!</button>
  </div>
<% end %>