<p id="notice"><%= notice %></p>

<h1>List of Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Current City</th>
      <th>Origin City</th>
      <th>Languages</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", "users/#{user.id}" %></td>
        <td><%= user.email %></td>
        <td><%= user.current_city %></td>
        <td><%= user.origin_city %></td>
        <td><%= user.languages %></td>
        <td><%= user.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Create New User', new_user_path, class: 'button' %>
