<div class="row card matches">
    <h2 class="profileTitle titles">Hi, <%= @user.first_name %></h2>
    <br><br>
    
    <h2 class="profileTitle titles">Your search parameters:</h2> 
  <div class="params">
    <%= @form_match.language %><br>           
    <%= @form_match.origin_country %><br>
    <%= @form_match.age %><br>
  
    <% @form_match.interests.each do |interest| %>
      <button class="button interests"><%= interest %></button>
    <% end %>
  </div>
  
<h2>Your matches:</h2><br>

  <div class="row" id="showFriendsDiv">
    <% @matches.each do |user| %>
      <% if user.id != current_user.id %>
        <div class="columns large-2">
          <a href='/users/<%= user.id %>'><img src="<%= user.photo_url %>" class="showUserImg" ></a>
          <a href="/users/<%= user.id %>"><h6 style="text-align: center"><b><%= user.first_name %></b></h6></a>
          <h6 style="text-align: center"><%= user.current_country %></h6>
        </div>
      <% end %>
    <% end %>
  </div>  
</div>