<p id="notice"><%= notice %></p>

<div class="row">
    <div class="large-8 columns">
      <div class="callout">
        <h3><%= @user.first_name %>'s Profile </h3>
        <p>I like to rollerblade.</p>
        <p>Read about the other things I like to do:</p>
        <div class="row">
          <div class="large-4 medium-4 columns">
            <p>
              <strong>First name:</strong>
              <%= @user.first_name %><br>
              <strong>Last name:</strong>
              <%= @user.last_name %><br>
              <br>
              <strong>Age:</strong>
              <%= @user.age %><br>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
          </div>
          <div class="large-4 medium-4 columns">
            <p>
              <strong>Current city:</strong>
              <%= @user.current_city %><br>
              <strong>Origin city:</strong>
              <%= @user.origin_city %><br>
              <br>
              <strong>Native language:</strong>
              <%= @user.native_language %><br>
              <strong>Languages:</strong>
              <%= @user.languages %>
            </p>
          </div>
          <div class="large-4 medium-4 columns">
            <p>
              <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" title="cat-burrito" alt="cat-burrito">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>










<% if current_user == @user %>
  <%= button_to 'Edit Profile', edit_user_path(@user), class: 'button' %>
<% end %>
<% if current_user != @user %>
  <%= button_to 'Send Friend Request', request_path(@user), :method => :post, class: 'button' %>
<% end %>

<%= button_to 'Back', users_path, class: 'button' %>
