<p id="notice"><%= notice %></p>
<%= button_to 'Back', users_path, class: 'btn' %>

<% if current_user != @user %>
  <%= button_to 'Add Friend', request_path(@user), :method => :post, class: 'btn' %>
  <%= button_to 'Block', block_path(@user), :method => :post, class: 'btn' %>
<% end %>

<% if current_user == @user %>
  <%= button_to 'Edit Profile', edit_user_path(@user), class: 'btn' %>
<% end %>

<% if current_user.friend_request?(@user) %>
  <%= button_to 'Accept', accept_path(@user), method: :post, class: 'btn' %>
  <%= button_to 'Decline', decline_path(@user), :method => :post, class: 'btn' %>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Current city:</strong>
  <%= @user.current_city %>
</p>

<p>
  <strong>Origin city:</strong>
  <%= @user.origin_city %>
</p>

<p>
  <strong>Native language:</strong>
  <%= @user.native_language %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @user.languages %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>
<hr>
<h3>Friends</h3>
<% @user.friends.each do |f| %>
<ul>
  <li><%= f.first_name %> <%= f.last_name %></li>
</ul>
<% end %>
<% if current_user == @user %>
<hr>
  <h3>Friend Request</h3>
  <% current_user.requested_friends.each do |q| %>
      <% q.id %>
    <ul>
      <li><%= q.first_name %> <%= q.last_name %></li>
    </ul>
  <% end %>
  <hr>
  <h3>Pending Friends</h3>
  <% current_user.pending_friends.each do |p| %>
    <ul>
      <li><%= p.first_name %> <%= p.last_name %></li>
    </ul>
  <% end %>
<% end %>


