<div class="row">
  <div class="large-12 columns">
    <h1 align="center">About Us</h1>
    
   <div class="row">
     
     <div class="medium-4 columns"><%= image_tag("World-Flags-Globe.png", :alt => "flag globe") %></div>
     
   </div>
   <br>
   <div class="row">
    
     <div class="callout primary">
      
       <p>Hello, we are Friends Around the World, aka FAR, and we are a cultural and language site that helps people connect and make new friends from around the world who share their language and cultural interests. We wanted to have a place for our members to meet new friends that share their love of language and world culture and that is why we created FAR.</p><br>
       <p>You can create a free account, update your profile and begin exploring our site, by making friends with people who share your language, or with people who speak a language that you want to learn. All you have to do is send a request to a potential friend or search for matching intersts. You can talk to your friends via private message, or even via video chat.</p>
      </div>
     </div>
     <div class="col-sm-1"></div>
   </div>
  <br><br><br><br><br><br>
   <h1 align="center">Developers</h1>

   <br>
   <div class="row">
     <div class="small-3 columns"><%= image_tag("kabah.jpeg", :alt => "photo of kabah", :class => "indexUserImg") %></div>
     <div class="small-3 columns"><%= image_tag("kate.jpeg", :alt => "photo of kate", :class => "indexUserImg") %></div>
     <div class="small-3 columns"><%= image_tag("emilio.jpeg", :alt => "photo of emilio", :class => "indexUserImg") %></div>
     <div class="small-3 columns"><%= image_tag("valerie.jpg", :alt => "photo of valerie", :class => "indexUserImg") %></div>
     
   </div>


   <div class="row">
     <div class="small-3 columns" style="text-align: center">
       <h4>Kabah Conda</h4>
        <a href="https://github.com/kabah">GitHub</a>
     </div>
     <div class="small-3 columns" style="text-align: center">
       <h4>Kate Nelson</h4>
        <a href="https://github.com/mkatenelson">GitHub</a>
     </div>
     <div class="small-3 columns" style="text-align: center">
       <h4>Emilio Gomez</h4>
        <a href="https://github.com/emiliogomezlavin">Github</a>
       </ul>
     </div>
     <div class="small-3 columns" style="text-align: center">
       <h4>Valerie Fredericks</h4>
      <a href="https://github.com/glinraen">Github</a>
     </div>
   </div>
  </div>
  <br><br>

