<div class="container">
  <h1>About Us</h1>
  <div class="line"></div>
   <div class="row">
     <div class="col-sm-4 mic"></div>
     <div class="col-sm-4"><%= image_tag("World-Flags-Globe.png", :alt => "flag globe") %></div>
     <div class="col-sm-4"></div>
   </div>
   <div class="row">
     <div class="col-sm-1"></div>
     <div class="col-sm-10">
       <br><br>
       <p>Hello, we are Friends Around the World, aka FAR, and we are a cultural and language site that helps people connect and make new friends from around the world who share their language and cultural interests.</p>
       <p>You can create a free account, update your profile and begin exploring our site, by making friends with people who share your language, or with people who speak a language that you want to learn. All you have to do is send a request to a potential friend or search for matching intersts. You can talk to your friends via private message, or even via video chat.</p>
     </div>
     <div class="col-sm-1"></div>
   </div>
  <br><br><br><br><br><br>
   <h1>Developers</h1>
   <div class="line"></div>
   <div class="row">
     <div class="col-sm-3"><%= image_tag("kabah.jpeg", :alt => "featured venue", :class => "indexUserImg") %></div>
     <div class="col-sm-3"><%= image_tag("kate.jpeg", :alt => "featured venue", :class => "indexUserImg") %></div>
     <div class="col-sm-3"><%= image_tag("emilio.jpg", :alt => "featured venue", :class => "indexUserImg") %></div>
     <div class="col-sm-3"><%= image_tag("valerie.jpg", :alt => "featured venue", :class => "indexUserImg") %></div>
     
   </div>
   <div class="row">
     <div class="col-sm-3" style="text-align: center">
       <h4>Kabah Conda</h4>
        <a href="https://github.com/kabah">GitHub</a>
     </div>
     <div class="col-sm-3" style="text-align: center">
       <h4>Kate Nelson</h4>
        <a href="https://github.com/mkatenelson">GitHub</a>
     </div>
     <div class="col-sm-3" style="text-align: center">
       <h4>Emilio Gomez</h4>
        <a href="https://github.com/emiliogomezlavin">Github</a>
       </ul>
     </div>
     <div class="col-sm-3" style="text-align: center">
       <h4>Valerie Fredericks</h4>
      <a href="https://github.com/glinraen">Github</a>
     </div>
   </div>
  </div>
Add Comment
