<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Far</title>

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true  %>




    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <script> UPLOADCARE_PUBLIC_KEY = "c631463d27435afb1a91";</script>
<script src="https://ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'header' %>


    <%= yield %>

   

  </body>
</html>
